*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue: #003459;
    --lightBlue: #00a7e1;
    --white: #ffffff;
    --gren: #2c6e49;
    --black: #1f1f1f;
}

@media (prefers-reduced-motion: no-preference) {
    *{
        scroll-behavior: smooth;
    }
}

form{
    font-size: inherit;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    font-size: inherit;
}

*::placeholder {
    color: inherit !important;
    opacity: 1; /* Firefox */
}

*::-ms-input-placeholder { /* Edge 12 -18 */
    color: inherit !important;
}

textarea,
input[type="time"],
input[type="date"],
input[type="email"],
input[type="text"],
input[type="password"]
{
    font-size: inherit !important;
    color: inherit !important; 
    background-color: inherit !important;
    border-width: 3px;
}

/* 
    Animista
*/
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

/* 
    Animista
*/
@-webkit-keyframes fade-in-fwd {
    0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    }
}
@keyframes fade-in-fwd {
    0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    }
}

 @-webkit-keyframes fade-out {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}
@keyframes fade-out {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}


@media(min-width: 2000px){
    body, 
    textarea,
    form,
    nav{
        font-size: 40px;
    }
    h1{
        font-size: 4rem;
    }
    .table{
        font-size: 2rem;
    }
}

