@import url('../../../global.css');

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--blue);
    background: -webkit-linear-gradient(to bottom, var(--blue) , var(--lightBlue) );
    background: linear-gradient(to bottom, var(--blue) , var(--lightBlue));    
    color: var(--white);
}

textarea{
    resize: none;
    font-size: inherit;
}

#todo-form-description{
    background-color: inherit;
    font-size: inherit;
    resize: none;
    border-width: 3px;
}

.todo-form-wrapper{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.todo-form-h1{
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
}

#todo-status{
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    text-shadow: 0 0 1px black;
    letter-spacing: 1px;
}

.button-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn{
    flex-grow: 1;
    font-weight: bold;
}

.btn-sm{
    transform: scale(0.8);
    font-weight: normal;
}

@media(max-width: 768px){
    .btn{
        width: 100%;
    }
}